<div class="querySummary" ng-show="userAccountCtrl.userQueries.length>0">
	<div class="error">
		{{userAccountCtrl.errorMessage}}
	</div>
	<div class="successMessage">
		{{userAccountCtrl.successMessage}}<br/>
	</div>
	<div class="scrollableContent">
		<table ng-repeat="query in userAccountCtrl.userQueries" class="queryTable">
			<tr class="queryToClose">
				<td ng-if="query.queryStatus=='OPEN'" style="width:5%">
					<input type="checkbox" checklist-model="userAccountCtrl.queryIdsToClose" checklist-value="query.queryId">
				</td>
				<td colspan="3" style="width:70%">
					<a ui-sref="appTemplateAfterLogging.discussionForumDetail({queryId: query.queryId})">
						{{query.queryText}}
					</a>
				</td>
				<td style="width:13%">{{query.creationDate | date}}</td>
				<td style="width:12%;text-align: right;">{{query.queryStatus}}</td>
			</tr>
		</table>
	</div>
	<div ng-attr-title="Please ensure that you have logged in before you post any query" class="postQuerySpan">
		<input type=button ng-click="userAccountCtrl.closeQueries()" ng-disabled="userAccountCtrl.isButtonToBeDisabled()" class="postQueryButton" value="Close Query">
	</div>
</div>
<div class="querySummary" ng-show="userAccountCtrl.userQueries.length==0">
	No content to display
</div>