<div class="userlogin">
	<div class="error">
		{{editUserCtrl.errorMessage}}
	</div>
	<div class="successMessage">
		{{editUserCtrl.successMessage}}
	</div>
	<form name="editUserForm">
		<table>
			<tr class="formRow">
				<td>First Name</td>
				<td class="inputField">
					<input type="text" ng-model="editUserCtrl.user.firstName" required/>
				</td>
			</tr>
			<tr class="formRow">
				<td>Middle Name</td>
				<td class="inputField">
					<input type="text" ng-model="editUserCtrl.user.middleName" />
				</td>
			</tr>
			<tr class="formRow">
				<td>Last Name</td>
				<td class="inputField">
					<input type="text" ng-model="editUserCtrl.user.lastName" required/>
				</td>
			</tr>
			<tr class="formRow">
				<td>Email Address</td>
				<td class="inputField">
					<input type="text" ng-model="editUserCtrl.user.emailAddress" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span class="error">{{editUserCtrl.uniqueUserNameError}}</span>
				</td>
			</tr>
			<tr class="formRow">
				<td width="20%">User Name</td>
				<td class="inputField">
					{{editUserCtrl.user.userName}}
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span class="error">{{editUserCtrl.passwordMismatchError}}</span>
				</td>
			</tr>
			<tr class="formRow">
				<td>Password</td>
				<td class="inputField">
					<input type="password" ng-model="editUserCtrl.user.userPassword" required ng-blur="editUserCtrl.checkIfPasswordsSame()"/>
				</td>
			</tr>
			<tr class="formRow">
				<td>Confirm Password</td>
				<td class="inputField">
					<input type="password" ng-model="editUserCtrl.user.confirmUserPassword" required ng-blur="editUserCtrl.checkIfPasswordsSame()"/>
				</td>
			</tr>
			<tr class="formRow">
				<td colspan="2">
					<input type="button" value="Submit" ng-click="editUserCtrl.registerUser()" ng-disabled="userLoginForm.$invalid" class="submitButton"/>
				</td>
			</tr>
		</table>
	</form>
</div>